/* Igor Stefaniak */

@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url("../fonts/Chillax/css/chillax.css");

:root {
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;

    /*     --background-color: #f6f6f6;
    --sidebar-color: #FFFFFF;
    --highlight-color: #f5f5f5; */
    --background-color: #181a20;
    --sidebar-color: #1f222a;
    --highlight-color: #35383f;

    /*  --background-color: #18191a;
    --sidebar-color: #242526;
    --highlight-color: #3a3b3c; */
    --text-color-primary: #fff;
    --accent-color: 26, 167, 236;
}

* {
    font-family: 'Poppins', 'Chillax-Regular', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    background: var(--background-color);
    overflow-x: hidden;
}

._vanish {
    visibility: hidden;
    opacity: 0;
}

a {
    cursor: pointer;
    user-select: none;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: var(--sidebar-color);
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
    border-radius: 0px 20px 20px 0px;
}

.sidebar.open {
    width: 250px;
}

.sidebar .menu-header {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .menu-header .icon {
    opacity: 0;
    transition: all 0.2s ease;
}

.sidebar .menu-header .logo_name {
    color: var(--text-color-primary);
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.2s ease;
}

.sidebar.open .menu-header .icon,
.sidebar.open .menu-header .logo_name {
    opacity: 1;
}

.sidebar .menu-header #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar i {
    color: var(--text-color-primary);
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .menu-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    color: #ccc;
    position: absolute;
    top: -20px;
    left: calc(100% + 25px);
    z-index: 3;
    background: var(--sidebar-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar input {
    font-size: 15px;
    color: #ccc;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: var(--highlight-color);
    font-weight: 500;
}

.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: var(--highlight-color);
    color: #ccc;
}

.sidebar.open .bx-search:hover {
    background: var(--highlight-color);
    color: #ccc;
}

.sidebar .bx-search:hover {
    background: var(--highlight-color);
    color: #ccc;
}

.sidebar li a {
    display: flex;
    height: 50px;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

.sidebar li.profile a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 12px;
}

.sidebar li a:before {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 20px;
    left: 0;
    background-color: rgba(var(--accent-color));
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
    border-radius: 0 4px 4px 0;
}

.sidebar li a .link-text {
    color: #ccc;
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    position: relative;
    display: inline-block;
}

.sidebar .link-list {
    transition: all 0.2s ease-in-out 0.1s;
    border-radius: 12px;
}

.link-list.open {
    background: rgba(0, 0, 0, 0.25);
}

.sidebar .link-list .folder {
    transition: all 0.3s ease-in-out 0.1s;
    transform: translateX(-50%);
    position: fixed;
    opacity: 0;
}

.sidebar .link-list.closed .folder,
.sidebar .link-list.closed .folder * {
    width: 0 !important;
    min-width: 0 !important;
    font-size: 0 !important;
}

.sidebar .link-list .folder * {
    transition: none !important;
}

.sidebar .link-list.open .folder {
    transition: all 0.3s ease-in-out 0.1s;
    position: relative;
    transform: translateY(0%);
    opacity: 1;
}

.sidebar.open .folder .item {
    margin: 8px 10px 8px 10px;
}

.folder .item {
    margin-left: 0px;
}

.folder li:last-child {
    padding-bottom: 8px;
}

.sidebar .folder .item span {
    display: none;
}

.sidebar.open .folder .item span {
    display: flex;
}

.sidebar li a .badget,
.sidebar li a .more {
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s ease-out;
    position: relative;
    display: inline-block;
}

.sidebar.open li a .badget,
.sidebar.open li a .more {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.3s ease-out;
    transition-delay: 0.4s;
}

.sidebar.open li a .more {
    transition-delay: 0.2s;
}

.sidebar.open li a .link-text {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.3s ease-out;
    transition-delay: .2s;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
}

.sidebar li.profile {
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 10px;
    margin: 0px;
    background: var(--sidebar-color);
    border-radius: 0px 20px 20px 0px;
    transition: all 0.5s ease;
}

.sidebar.open li.profile {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 0;
}

.sidebar.open li.profile a {
    right: 5px;
}

.sidebar li img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 8px;
    margin-left: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color-primary);
    white-space: nowrap;
}

.sidebar.open li.profile .profile-details {
    opacity: 1;

}

.sidebar li.profile .profile-details {
    opacity: 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

}

.sidebar li.profile .job {
    font-size: 11px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px 20px 20px 0px;
}

.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
}

.data-section {
    position: relative;
    background: var(--background-color);
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open~.data-section {
    left: 250px;
    width: calc(100% - 250px);
}

.data-section .title-section {
    display: inline-block;
    color: #ccc;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
}

.sidebar li a:hover {
    background: var(--highlight-color);
}

.sidebar li a .link-text:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    bottom: -1px;
    height: 3px;
    left: 0;
    background-color: rgba(var(--accent-color));
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
    border-radius: 4px;
}

.sidebar li a:hover:before {
    /** Na podkreslenie zmiana */
    transform: scaleX(1);
}

canvas {
    cursor: crosshair;
    border-radius: 0 0 20px 20px ;
}

@media (max-width:575px) {

    .widget {
        width: 100% !important;
    }

    .icon {
        opacity: 1 !important;
    }

    #btn {
        display: none;
    }

    .sidebar.open {
        z-index: 200;
        width: 70%;
    }

    .sidebar li a {
        font-size: 20px;
    }

    .sidebar.open~.data-section {
        filter: blur(4px);
    }

    .sidebar.open li.profile {
        width: 70% !important;
        border-radius: 20px 20px 0 0;
    }

    .sidebar.open~.data-section {
        left: 78px !important;
        width: calc(100% - 78px) !important;
    }

}


.badget {
    font-weight: 700;
    margin: 12px;
    margin-left: auto;
    background: rgba(var(--accent-color));
    padding: 4px 8px;
    border-radius: 7px;
    font-size: 12px;
}

.more {
    font-size: 12px;
    margin-left: auto;
}

.grid

.grid:after {
    content: '';
    display: block;
    clear: both;
}
  
.grid-item {
    width: calc( (100% - 20px * 4) / 5 );
    height: 300px;
    background: var(--sidebar-color);
    border-radius: 20px;
}

.grid-item--width2 { width: calc( ((100% - 20px * 4) / 5) * 2 + 20px ); }
.grid-item--height2 { height: 620px; }
  
.grid-item:hover {
    cursor: move;
}
/* .grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
    z-index: 2;
    box-sizing: border-box;
    border: 4px dashed var(--highlight-color);
    border-radius: 20px;
    box-shadow: 0 0 0 6px transparent;
    background-color: transparent;

} */

.packery-drop-placeholder {
    z-index: 2;
    box-sizing: border-box;
    border: 4px dashed var(--highlight-color);
    border-radius: 20px;
    box-shadow: 0 0 0 6px transparent;
    background-color: transparent;
    -webkit-transition: -webkit-transform 0.2s;
            transition: transform 0.2s;
  }


  .chart {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #ffffff;
    border-radius: 20px;


  }
  .chart .card-header {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex: 1;
    padding: 24px 24px 0 24px;
  }
  .chart .card-body .chart-container {
    padding-top: 16px;
    height: 180px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
  }
  .chart .col-left {
    display: flex;
    align-items: center;
  }
  .chart .col-left .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-225deg, #fdb135, #fa7b00);
    height: 44px;
    width: 44px;
    margin-right: 8px;
    border-radius: 12px;
  }
  .chart .col-left .description h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }
  .chart .col-left .description h4 {
    font-size: 12px;
    font-weight: 300;
    margin: 4px 0 0 0;
  }
  .chart .col-right h2 {
    color: #ff9201;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
  }
  .chart .col-right .percent {
    display: flex;
    justify-content: end;
    color: #ed3140;
    margin-top: 8px;
  }
  .chart .col-right .material-icons {
    font-size: 16px;
    margin-top: -2px;
  }
  .chart .col-right .text {
    font-size: 12px;
    font-weight: 300;
    margin-left: 4px;
  }