@media (orientation: landscape) and (max-width:1249px) {
  body {
    .sidebar {
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .sidebar::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}

@media only screen and (max-width:359px) {

  #list {
    display: flex;
    flex-direction: column;
  }
.grid-item {
  width: 100%;
}
}


@media only screen and (max-width:575px) and (min-width:360px) {
  #list {
    display: flex;
    flex-direction: column;
  }

.grid-item {
  width: 100%;
}
}

@media only screen and (max-width:899px) and (min-width:576px) {

  .grid-item {
    width: 100%;
  }

}

@media only screen and (max-width:1249px) and (min-width:900px) {

  .grid-item {
    width: calc( (100% - 20px * 2) / 2 + 10px);
  }

  .grid-item--width2 { width: calc( ((100% - 20px * 2) / 2) * 2 + 40px ); }

}

@media only screen and (max-width:1649px) and (min-width:1250px) {
  .grid-item {
    width: calc( (100% - 20px * 2) / 3 + 0px);
  }
  .grid-item--width2 { width: calc( ((100% - 20px * 2) / 3) * 2 + 20px ); }

}

@media only screen and (min-width:1650px) {}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 8px;
  width: 2px;
}

::-webkit-scrollbar-track {
  background: var(--sidebar-color);
}